@charset "UTF-8";

/*paleta de cores

verde:#49a09d
lilas:#5f2c82

*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 250px;
  height: 540px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: width 0.5s height 0.5s;
  transition-timing-function: ease;
}

#imagem {
  display: block;
  background: #5f2c82 url(../imagens/img.jpg) no-repeat center center;
  background-size: cover;
  height: 200px;
}

#formulario {
  display: block;
  padding: 10px;
}

#formulario h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #5f2c82;
}

#formulario p {
  font-size: 1em;
}

.campo {
  background-color: #5f2c82;
  border: 2px solid #5f2c82;
  height: 40px;
  border-radius: 10px;
  margin: 5px 0px;
}

.campo i {
  color: #fff;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

.campo i:hover {
  transform: scale(1.1);
}

.campo input {
  background-color: #51b0ad;
  font-size: 1em;
  width: calc(100% - 45px);
  transform: translateY(-13px);
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.campo input:focus-within {
  background-color: #fff;
}

.campo label {
  display: none;
}

#botao {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #49a09d;
  border: none;
  border-radius: 10px;
  color: #0b1818;
}
#botao:hover {
  background-color: #3a7d7a;
  cursor: pointer;
}

.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #49a09d;
  border-radius: 10px;
  text-decoration: none;
  color: #1a3836;
  padding-top: 7px;
  margin-top: 5px;
}

.botao:hover {
  background-color: #49a09d;
  cursor: pointer;
}
